@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300&family=Playfair+Display:wght@400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}
img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

body {
  font-family: "Merriweather", serif, "Open Sans", sans-serif,
    "Playfair Display", serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
  background: #f9f9f9;
}

.navbar {
  padding: 10px 15px;
  max-width: 1140px;
  width: 100%;
  font-family: "Playfair Display";
}
#nav {
  padding: 10px 18px;
}
#nav__item {
  width: 100%;
  justify-content: end;
}
.nav-link {
  padding: 10px 25px !important;
  display: flex !important;
  justify-content: center;
}
