@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://js.arcgis.com/4.25/@arcgis/core/assets/esri/themes/light/main.css";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300&family=Playfair+Display:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

html {
  color-scheme: dark light;
}
img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

body {
  font-family: "Merriweather", serif, "Open Sans", sans-serif,
    "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
.navbar-fixed-top {
  position: initial;
  z-index: 1030;
}
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

#menu-btn {
  transform: rotate(90deg);
  transform: translateY(0px);
}

#menu-btn .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
#menu-btn .hamburger-middle {
  display: none;
}
#menu-btn .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Login  */

.login-form-box {
  margin-top: 2.8rem;
  padding: 10px 20px;
}
#login-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-img {
  max-width: 100%;
  width: 500px;
  height: auto;
}
.login-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202020;
  height: inherit;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.input-box {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}
#login-btn {
  padding: 8px 25px;
  width: 120px;
}
#login-checkbox {
  color: white;
}
#input-box {
  display: flex;
  flex-direction: column;
}
/* otp */
.otp-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #202020;
border-radius: 8px;
  padding: 40px 25px;
  width: 500px;
}
.otp-input input{
 width: 2rem !important;
 aspect-ratio: 1/1;
 background-color: white;
 border: 1px solid #333;
 outline: none;
 border-radius: 4px;
 margin: 8px;
 color: black;


}
/* register  */
.register-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #202020;
border-radius: 8px;
  padding: 40px 25px;
  width: 500px;
}

.register-box {
  display: flex;
  flex-direction: column;
}

/* loading spinner  */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
